.card_container {
  position: relative;
  top: 0;
  left: 0;
  height: 225px;
  width: 175px;
  background-color: var(--clr_w);
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(000, 000, 000, 0.4);
  background-color: var(--bg);
  background-color: var(--bg);
  transition: all 0.3s;
  transition: 0.3s;
}

.card_container:hover {
  transition: 0.3s;
  box-shadow: 0 0 7.5px rgba(000, 000, 000, 0.5);
}

.top_container {
  width: 100%;
  height: 50%;
  background-color: var(--main);
  border-radius: 25px 25px 0 0;
}

.water_icon_container {
  width: 50px;
  height: 50px;
  border-radius: 25px 0 0 0;
}

.water_icon {
  font-size: 12.5px;
  color: var(--main_contrast);
  margin: 15px 0 0 12.5px;
  border: 2.5px solid var(--main_contrast);
  padding: 3px 5px 6px 5px;
  border-radius: 25px;
}

.water_icon:hover {
  cursor: pointer;
}
.water_icon {
  font-size: 12.5px;
  color: var(--main_contrast);
  margin: 15px 0 0 12.5px;
  border: 2.5px solid var(--main_contrast);
  padding: 3px 5px 3px 5px;
  border-radius: 25px;
}

.water_icon:hover {
  cursor: pointer;
}

.bottom_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--bg);
}

.plant_image {
  width: 34.5%;
}

.plant_image img {
  height: 125px;
  margin-top: -100px;
  position: relative;
}

.plant_name {
  margin-left: 10px;
  position: relative;
  width: 50%;
}

.title::after {
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  height: 2.5px;
  width: 30%;
  background-color: var(--main_line);
}

.description {
  margin: 0 5px;
}

.see_more_btn {
  padding: 2.5px;
  font-size: 1rem;
  background-color: var(--main_line);
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

.see_more_btn:hover {
  cursor: pointer;
  background-color: var(--main_hover);
  transition: all 0.3s;
}
